@import url("https://fonts.googleapis.com/css?family=Lacquer|Nunito&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

* {
  box-sizing: border-box;
  transition: 0.4s ease all;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}

a{
    text-decoration: none;
    color: #000000;
}

th{
    text-align: start;
    padding-bottom: 10px;
}
td{
    padding-bottom: 5px;
}
table {
    width: 100%;
}

html,
body {
	height: 100%;
    margin:0px auto;
    font-family: Roboto, Helvetica, sans-serif;
    background-color: #F2F2F2;
}

.wrapper {
    display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content{
    flex: 1 0 auto;
}

.container {
    margin: 0px auto;
    width:956px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    position: fixed;
    right: 0px;
    left: 0px;
    flex:1 1 auto;
    max-height: 72px;
    background-color: rgb(0, 167, 145);
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}
.header_row {
    height: 72px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.logo {
    color: #626262;
    margin-right: 55px;    
}
.navigation__main {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 50%;
}
.hidden{
    display: none;
}
.btn{
    cursor: pointer;
    width: 78px;
    height: 40px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px; 
    margin-right: 27px;
}

.search {
    margin: 10px 0px 10px;
    max-height: 23px;
    
}
.search_form{
    display: flex;
    align-items: normal;
}

.search_input{
    flex:1 1 auto; /*растягивает и сжимает флекс-элемент относительно его собственной ширины*/
    padding:0 7px;
    border: none;
    outline:none;
    border-bottom: 1px solid;
    border-color: #757575;;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-left: 0px;
    background-color: #F2F2F2;
}

.img__school{
    max-width: 100%;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.content_head {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    margin-top: 75px;
}
.card {
    padding-top: 16px;
    width: 108px;
    cursor: pointer;
    transition: all 0.2s linear; 
}
.card_content{ 
}
.card:hover{
    background-color: #7575752c;
}
.card_title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-top: 11px ;
    color: #1D1D1D;
}
.card_small_desc {
    padding: 4px 0 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #626262;
}
.card_time {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #1D1D1D;
    padding-bottom: 21px;
}
footer{
    background: #262626;
    margin-top: 77px;
    flex: 0 0 auto;
}
.head_uber {
    padding: 56px 0px 35px 0px;
}
.any_links {
    display: flex;
    justify-content: space-between;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    padding-top: 32px;
    padding-bottom: 10px;
    border-top: 1px solid #ffffff67;
}

.footer_end {
    display: flex;
    justify-content: center;
}
.content_end {
    width: 318px;
    font-size: 12px;
    margin: 40px 0px;
}

/*
index.html
*/

.content-wrapper{
    width: 100%;
}

.header__nav {
    position: absolute;
    right: 36px;
    display: block;
}
.header__menu {
    display: flex;
    position: relative;
    z-index: 2;
}
.header__menu li {
    list-style: none;
    margin: 0px 0px 0px 36px;
    font-size: 16px;
    text-decoration: none;
    padding: 0;
}
.content-wrapper{
    margin-top: 78px;
    padding: 10px;
    line-height: 34px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
 }

.index{
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
    background-color: rgba(0, 167, 145, 0.956);
    display: flex;
    flex-direction: column;
}


.btn{
    cursor: pointer;
    width: 70%;
    height: 30px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px; 
    margin-right: 27px;
}

.modal.closed {
    display: none;
}
.modal-guts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  /* отступы */
    padding: 20px 50px 20px 20px;
  /* разрешим скролить */
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.elementModal{
    margin-bottom: 5px;
}

#close-button{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/*
report
*/
.report{
    padding-bottom: 5px;
}

.table__report{
    padding-top: 5px;
}

@media (max-width: 1024px) {
    .container{
        width: 768px;
    }
}
@media (max-width : 767px) {
    .menu-burger__header {
        position: relative; /* задаем относительное позиционирование */
        width: 40px; /* определяем размеры блока */
        height: 35px;
        display: block;
        margin-left: 10px;
        cursor: pointer;
    }
    .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
        height: 3px;
        width: 100%;
        position: absolute;
        background: #515758;
        margin: 0 auto;
    }
    .menu-burger__header span{
        top: 16px;
    }
    .menu-burger__header:after, .menu-burger__header:before{
        content: '';
    }
    .menu-burger__header:after{
        bottom: 5px;
    }
    .menu-burger__header:before{
        top: 5px;
    }
    header {
        height: 55px;
    }
    .content-wrapper {
        margin-top: 48px;
    }
    .header_row {
        display: block;
        position: absolute;
        top: 55px;
        left: 0;
        background: rgb(245, 246, 246);
        box-shadow: #ccc;
        width: 100%;
        box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
        left: -100%;
        transition: all 0.4s ease;
    }
    .header_row.open-menu {
        left: 0;
        height: auto;
    }
    .menu-burger__header.open-menu span {
        opacity:0; 
        transition: 0.5s; 
    }
    .menu-burger__header.open-menu:before {
        transform: rotate(38deg);
        top: 16px;
        transition: 0.4s;
    }
    .menu-burger__header.open-menu:after {
        transform: rotate(-38deg);
        bottom: 16px;
        transition: 0.4s;
    }
    .header__menu {
        display: block;
        overflow: auto;
    }
    .header__menu li {
        margin: 40px 0px 40px 33px;
        font-size: 14px;
    }


    .container{
        width: 320px;
    }
    footer{
        background: #262626;
    }
    .any_links {
        flex-wrap: wrap;
    }
    .footer_end{
        flex-wrap: wrap;
        padding: 0px 0px;
    }
    .content_end {
        width: 304px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
        margin-bottom: 24px;
    }
}

